<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Proyecto1.Properties.Settings.Setting" connectionString="Data Source=EDDIMIRVELOZR\MSSQLSERVER01;Initial Catalog=Proyecto1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Proyecto1EVR" connectionString="metadata=res://*/ModeloADO.Modelo.csdl|res://*/ModeloADO.Modelo.ssdl|res://*/ModeloADO.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDDIMIRVELOZR\MSSQLSERVER01;initial catalog=Proyecto1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Proyecto1Entities" connectionString="metadata=res://*/DataADO.ProyectoADO.csdl|res://*/DataADO.ProyectoADO.ssdl|res://*/DataADO.ProyectoADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDDIMIRVELOZR\MSSQLSERVER01;initial catalog=Proyecto1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>